body {
    font-family: 'Open Sans', Verdana, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, Meiryo, "游ゴシック", YuGothic, sans-serif;
}
a:hover {
    text-decoration: none;
}
html, body {
    height: 100% !important;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
#container {
    min-height: 70%;
    height: auto !important;
    margin: 0 auto;
    padding-bottom: 84px;
}
#footer {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    position: absolute;
    bottom: 0;
}
.clear-both {
    clear: both;
}
.box-all, .navbar .navbar-search form input, .navbar .navbar-search .btn-login a, .navbar .navbar-search .btn-post a {
    border: 1px solid #77b7b6;
    border-radius: 2px;
    height: 40px;
}
.btn-follow-mini {
    padding: 0 20px 0 30px;
    border-radius: 3px;
    border: none;
    background: url(../img/icon-add-follow.png) no-repeat center left 15px;
    background-color: #999;
    line-height: 25px;
    font-size: 13px;
    color: #fff;
}
.btn-follow-mini:hover {
    background: url(../img/icon-follow.png) no-repeat center left 15px;
    background-color: #54b8b7;
    color: #fff;
}
.btn-following {
    background: url(../img/icon-follow.png) no-repeat center left 15px;
    background-color: #54b8b7;
}
.btn-following:hover {
    background: url(../img/icon-unfollow.png) no-repeat center left 15px;
    background-color: #d9534f;
    color: #fff;
}
.box-top-post p {
    margin-bottom: 20px;
    font-size: 20px;
    color: #0fa19f;
    font-weight: 600;
    text-transform: uppercase;
}
.box-top-post .list-top-post {
    padding: 30px 10px 1px 10px;
    background-color: #f6f6f6;
    border-radius: 3px;
}
.box-top-post .list-top-post .top-post-detail {
    margin-bottom: 30px;
}
.box-top-post .list-top-post .top-post-detail .top-post-img {
    padding-right: 0;
    display: inline-block;
}
.box-top-post .list-top-post .top-post-detail .top-post-img img {
    display: inline-block;
    width: 100%;
    height: 60px;
    border-radius: 3px;
    background-size: auto 100% !important;
    background-position: center center !important;
    transition: background-size 0.2s ease-in;
    -moz-transition: background-size 0.2s ease-in;
    -ms-transition: background-size 0.2s ease-in;
    -o-transition: background-size 0.2s ease-in;
    -webkit-transition: background-size 0.2s ease-in;
}
.box-top-post .list-top-post .top-post-detail .top-post-img:hover img {
    background-size: auto 120% !important;
}
.box-top-post .list-top-post .top-post-detail .top-post-content a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box-top-post .list-top-post .top-post-detail .top-post-content a a:hover {
    text-decoration: underline;
}
.box-top-post .list-top-post .top-post-detail .top-post-content .title {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    font-weight: 300;
    height: 38px;
}
.box-top-post .list-top-post .top-post-detail .top-post-content .title:hover {
    text-decoration: underline;
}
.box-top-post .list-top-post .top-post-detail .top-post-content .name {
    font-size: 12px;
    color: #0fa19f;
    height: 17px;
}
.top-author {
    margin-top: 30px;
}
.top-author .list-top-post .top-post-detail {
    margin-bottom: 20px;
}
.top-author .list-top-post .top-post-detail .top-post-img img {
    width: 60px;
    border-radius: 30px;
}
.top-author .list-top-post .top-post-detail .top-post-content .title {
    height: auto;
    margin-bottom: 10px;
    overflow: inherit;
}
.top-author .list-top-post .top-post-detail .top-post-content .title:hover {
    text-decoration: underline;
}
.top-author .list-top-post .top-post-detail .top-post-content .btn-post {
    margin-right: 5px;
    display: inline-block;
    border-radius: 3px;
    line-height: 20px;
    padding: 0 10px;
    background-color: #57b8b7;
    color: #fff;
    font-size: 10px;
}
.top-author .list-top-post .top-post-detail .top-post-content .btn-post:hover {
    background-color: #8b8b8b;
}
.navbar {
    border: none;
    border-radius: 0;
    padding: 20px 0px;
    background-color: #f5f5f5;
    margin-bottom: 0;
}
.navbar #logo {
    float: left;
    padding-right: 100px;
}
.navbar .container {
    padding: 0;
}
.navbar .container #logo a {
    line-height: 40px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0fa19f;
    padding: 0 10px;
}
.navbar .container #logo a:hover {
    border: 2px solid #77b7b6;
    border-radius: 3px;
}
.navbar .navbar-centure {
    float: left;
}
.navbar .navbar-centure ul {
    padding: 0;
    margin-bottom: 0;
}
.navbar .navbar-centure li {
    float: left;
    list-style: none;
    border: 2px solid #f5f5f5;
}
.navbar .navbar-centure li a {
    line-height: 40px;
    padding: 9px 24px;
    text-transform: uppercase;
    font-size: 16px;
    color: #0fa19f;
    font-weight: 400;
}
.navbar .navbar-centure li:hover {
    border: 2px solid #77b7b6;
    border-radius: 3px;
}
.navbar .navbar-centure li .selected {
    background-color: #e9e9e9;
    font-weight: 600;
    border: 1px solid #77b7b6;
    border-radius: 3px;
}
.navbar .navbar-search {
    float: right;
    margin: 0;
}
.navbar .navbar-search form {
    float: left;
    position: relative;
}
.navbar .navbar-search form input {
    padding-left: 10px;
    font-size: 15px;
    color: #6f6b6b;
    font-style: italic;
    width: 202px;
    background: none;
}
.navbar .navbar-search form a {
    position: absolute;
    right: 2px;
    top: 2px;
}
.navbar .navbar-search .search-submit {
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    top: 2px;
    right: 2px;
}
.navbar .navbar-search .btn-login {
    float: left;
    margin-left: 12px;
}
.navbar .navbar-search .btn-login a {
    line-height: 40px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0fa19f;
    padding: 0 10px;
}
.navbar .navbar-search .btn-login a:hover {
    background-color: #55b7b6;
    color: #fff;
}
.navbar .navbar-search .btn-post {
    margin-left: 0;
    margin-right: 12px;
    float: left;
}
.navbar .navbar-search .btn-post a {
    line-height: 40px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0fa19f;
    padding: 0 10px;
}
.navbar .navbar-search .btn-post a:hover {
    background-color: #55b7b6;
    color: #fff;
}
.navbar .navbar-search .user-menu {
    float: left;
}
.navbar .navbar-search .user-menu .btn-ringstone {
    margin-left: 6px;
    float: left;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 120;
    background: url(../img/btn-ringstone.png) center center no-repeat;
}
.navbar .navbar-search .user-menu .btn-ringstone:hover {
    background: url(../img/btn-ringstone-hover.png) center center no-repeat;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify {
    position: absolute;
    right: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #ed141e;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #fff;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down {
    display: block;
    width: 270px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    z-index: 100;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    left: -50px;
    background-color: #e7e7e7;
    padding: 6px 3px 3px 3px;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 22%;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #e7e7e7 transparent;
    display: block;
    width: 0;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down p {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #000;
    padding-left: 10px;
    padding-top: 7px;
    text-transform: uppercase;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down div.notify-loading {
    position: relative;
    overflow: visible;
    text-align: center;
    border-bottom: 0px;
    margin: 15px auto;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-loading {
    background-image: url(../img/notif-loading.gif);
    height: 11px;
    width: 16px;
    vertical-align: middle;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down a.notify-setting {
    float: right;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    margin-top: 7px;
    background: url(../img/icon-setting-notify.png) center center;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down a.notify-setting:hover {
    background: url(../img/icon-setting-notify-hover.png) center center;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list {
    border-radius: 3px;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 2px;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list .notify-avar {
    margin-right: 10px;
    float: left;
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    background-position: center center !important;
    background-size: cover !important;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list .notify-n-t {
    width: 182px;
    float: left;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list .notify-n-t .notify-name {
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 5px;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list .notify-n-t .notify-name a {
    font-weight: 400;
    color: #5e5d5d;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list .notify-n-t .notify-name .blueName, .navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list .notify-n-t .notify-name .blueTitle {
    color: #53b7b6;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list .notify-n-t .notify-time {
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    color: #898989;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list:hover {
    background-color: #fcfcfc;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-list.fader {
    opacity: 0;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}
.navbar .navbar-search .user-menu .btn-ringstone .notify-down .notify-seemore {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #0fa19f;
    font-size: 13px;
    font-weight: 400;
}
.navbar .navbar-search .user-menu .user {
    float: left;
    margin-left: 8px;
    position: relative;
    z-index: 120;
}
.navbar .navbar-search .user-menu .user .user-avar {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-position: center center !important;
    background-size: cover !important;
    box-shadow: 0px 2px 5px #eaeaea;
}
.navbar .navbar-search .user-menu .user .user-name {
    line-height: 40px;
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #6c7b7b;
    padding-right: 15px;
    margin-left: 5px;
    background: url(../img/icon-dropdown-user.png) right no-repeat;
    max-width: 140px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar .navbar-search .user-menu .user:hover .user-name {
    color: #56b8b7;
    background: url(../img/icon-dropdown-user-hover.png) right no-repeat;
}
.navbar .navbar-search .user-menu .user .user-dropdown {
    display: block;
    position: absolute;
    width: 180px;
    z-index: 100;
    background-color: #e7e7e7;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    z-index: 100;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    left: -10px;
    padding: 15px 3px 3px 6px;
}
.navbar .navbar-search .user-menu .user .user-dropdown:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 22%;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #e7e7e7 transparent;
    display: block;
    width: 0;
}
.navbar .navbar-search .user-menu .user .user-dropdown ul {
    padding: 0;
}
.navbar .navbar-search .user-menu .user .user-dropdown ul li {
    list-style: none;
}
.navbar .navbar-search .user-menu .user .user-dropdown ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 5px 110px 5px 10px;
    display: inline-block;
}
.navbar .navbar-search .user-menu .user .user-dropdown ul li:hover {
    background-color: #57b8b7;
    border-radius: 3px;
}
.navbar .navbar-search .user-menu .user .user-dropdown ul li:hover a {
    color: #fff;
}
.navbar-main {
    background-color: #e9e9e9;
    position: relative;
    z-index: 100;
    padding: 0;
    height: auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.navbar-main .container {
    padding: 0;
}
.navbar-main .cat-title {
    display: none;
}
.navbar-main ul {
    padding: 0;
}
.navbar-main ul li {
    height: 60px;
    line-height: 60px;
    list-style: none;
    text-align: center;
    padding: 0;
    border-bottom: 4px solid #e9e9e9;
    margin-right: 2px;
    float: left;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar-main ul li a {
    width: 101px;
    border-right: 1px solid #e3e3e3;
    display: inline-block;
    font-size: 15px;
    color: #5b5b5b;
    font-weight: 300;
}
.navbar-main ul li a:hover {
    background-color: #f5f5f5;
}
.navbar-main ul .js {
    border-bottom-color: #c8bd72;
}
.navbar-main ul li.js:after {
    border-color: #c8bd72 transparent;
}
.navbar-main ul .html {
    border-bottom-color: #f1662a;
}
.navbar-main ul li.html:after {
    border-color: #f1662a transparent;
}
.navbar-main ul .css {
    border-bottom-color: #33a9dc;
}
.navbar-main ul li.css:after {
    border-color: #33a9dc transparent;
}
.navbar-main ul .ios {
    border-bottom-color: #b2b2b2;
}
.navbar-main ul li.ios:after {
    border-color: #b2b2b2 transparent;
}
.navbar-main ul .android {
    border-bottom-color: #97c040;
}
.navbar-main ul li.android:after {
    border-color: #97c040 transparent;
}
.navbar-main ul .php {
    border-bottom-color: #6b7eb9;
}
.navbar-main ul li.php:after {
    border-color: #6b7eb9 transparent;
}
.navbar-main ul .all {
    border-bottom-color: #bd1103;
}
.navbar-main ul li.all:after {
    border-color: #bd1103 transparent;
}
.navbar-main ul .en {
    border-bottom-color: #97c040;
}
.navbar-main ul li.en:after {
    border-color: #97c040 transparent;
}
.navbar-main ul .objective-c {
    border-bottom-color: #767474;
}
.navbar-main ul li.objective-c:after {
    border-color: #767474 transparent;
}
.navbar-main ul .vi {
    border-bottom-color: #019833;
}
.navbar-main ul li.vi:after {
    border-color: #019833 transparent;
}
.navbar-main ul .python {
    border-bottom-color: #938a6d;
}
.navbar-main ul li.python:after {
    border-color: #938a6d transparent;
}
.navbar-main ul .git {
    border-bottom-color: #c77c6f;
}
.navbar-main ul li.git:after {
    border-color: #c77c6f transparent;
}
.navbar-main ul .shell {
    border-bottom-color: #fbbb76;
}
.navbar-main ul li.shell:after {
    border-color: #fbbb76 transparent;
}
.navbar-main ul .cpp {
    border-bottom-color: #669ad3;
}
.navbar-main ul li.cpp:after {
    border-color: #669ad3 transparent;
}
.navbar-main ul .jquery {
    border-bottom-color: #5f9dd0;
}
.navbar-main ul li.jquery:after {
    border-color: #5f9dd0 transparent;
}
.navbar-main ul .github {
    border-bottom-color: #3f82c4;
}
.navbar-main ul li.github:after {
    border-color: #3f82c4 transparent;
}
.navbar-main ul .c {
    border-bottom-color: #8d8f9b;
}
.navbar-main ul li.c:after {
    border-color: #8d8f9b transparent;
}
.navbar-main ul .linux {
    border-bottom-color: #edc59b;
}
.navbar-main ul li.linux:after {
    border-color: #edc59b transparent;
}
.navbar-main ul .cs {
    border-bottom-color: #647398;
}
.navbar-main ul li.cs:after {
    border-color: #647398 transparent;
}
.navbar-main ul .mac {
    border-bottom-color: #5a5a5a;
}
.navbar-main ul li.mac:after {
    border-color: #5a5a5a transparent;
}
.navbar-main ul .mysql {
    border-bottom-color: #37565e;
}
.navbar-main ul li.mysql:after {
    border-color: #37565e transparent;
}
.navbar-main ul .emac {
    border-bottom-color: #6562a5;
}
.navbar-main ul li.emac:after {
    border-color: #6562a5 transparent;
}
.navbar-main ul .nodejs {
    border-bottom-color: #9bbe74;
}
.navbar-main ul li.nodejs:after {
    border-color: #9bbe74 transparent;
}
.navbar-main ul .ja {
    border-bottom-color: #e77104;
}
.navbar-main ul li.ja:after {
    border-color: #e77104 transparent;
}
.navbar-main ul .chrome {
    border-bottom-color: #3b985a;
}
.navbar-main ul li.chrome:after {
    border-color: #3b985a transparent;
}
.navbar-main ul .pear {
    border-bottom-color: #868686;
}
.navbar-main ul li.pear:after {
    border-color: #868686 transparent;
}
.navbar-main ul .regex {
    border-bottom-color: #7a4a90;
}
.navbar-main ul li.regex:after {
    border-color: #7a4a90 transparent;
}
.navbar-main ul .apache {
    border-bottom-color: #c24d74;
}
.navbar-main ul li.apache:after {
    border-color: #c24d74 transparent;
}
.navbar-main ul .centos {
    border-bottom-color: #934a82;
}
.navbar-main ul li.centos:after {
    border-color: #934a82 transparent;
}
.navbar-main ul .csharp {
    border-bottom-color: #545353;
}
.navbar-main ul li.csharp:after {
    border-color: #545353 transparent;
}
.navbar-main ul .ssh {
    border-bottom-color: #9696f7;
}
.navbar-main ul li.ssh:after {
    border-color: #9696f7 transparent;
}
.navbar-main ul .nginx {
    border-bottom-color: #539070;
}
.navbar-main ul li.nginx:after {
    border-color: #539070 transparent;
}
.navbar-main ul .ubuntu {
    border-bottom-color: #da876a;
}
.navbar-main ul li.ubuntu:after {
    border-color: #da876a transparent;
}
.navbar-main ul .mongodb {
    border-bottom-color: #94795d;
}
.navbar-main ul li.mongodb:after {
    border-color: #94795d transparent;
}
.navbar-main ul .swift {
    border-bottom-color: #e78874;
}
.navbar-main ul li.swift:after {
    border-color: #e78874 transparent;
}
.navbar-main ul .agile {
    border-bottom-color: #59a6a1;
}
.navbar-main ul li.agile:after {
    border-color: #59a6a1 transparent;
}
.navbar-main ul .scheme {
    border-bottom-color: #e1c00f;
}
.navbar-main ul li.scheme:after {
    border-color: #e1c00f transparent;
}
.navbar-main ul .heroku {
    border-bottom-color: #3f82c4;
}
.navbar-main ul li.heroku:after {
    border-color: #3f82c4 transparent;
}
.navbar-main ul .win {
    border-bottom-color: #78c3df;
}
.navbar-main ul li.win:after {
    border-color: #78c3df transparent;
}
.navbar-main ul .unity {
    border-bottom-color: #696868;
}
.navbar-main ul li.unity:after {
    border-color: #696868 transparent;
}
.navbar-main ul .net {
    border-bottom-color: #486161;
}
.navbar-main ul li.net:after {
    border-color: #486161 transparent;
}
.navbar-main ul .sql {
    border-bottom-color: #e28e8b;
}
.navbar-main ul li.sql:after {
    border-color: #e28e8b transparent;
}
.navbar-main ul .no-sql {
    border-bottom-color: #4c7791;
}
.navbar-main ul li.no-sql:after {
    border-color: #4c7791 transparent;
}
.navbar-main ul .css3 {
    border-bottom-color: #33a9dc;
}
.navbar-main ul li.css3:after {
    border-color: #33a9dc transparent;
}
.navbar-main ul .html5 {
    border-bottom-color: #e54d26;
}
.navbar-main ul li.html5:after {
    border-color: #e54d26 transparent;
}
.navbar-main ul .other {
    border-bottom-color: #6badad;
}
.navbar-main ul li.more {
    border-bottom-color: #55b7b6;
    background-color: #55b7b6;
    margin-right: 0;
}
.navbar-main ul li.more a {
    border-right: none;
    color: #fff;
    font-weight: 400;
}
.navbar-main ul li.more a:hover {
    color: #55b7b6;
    font-weight: 600;
}
.navbar-main ul li:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 45%;
    border-style: solid;
    border-width: 0 6px 4px;
    border-color: #000 transparent;
    display: block;
    width: 0;
    z-index: 1;
    -webkit-transition: bottom 0.3s;
    /* Safari */
    transition: bottom 0.3s;
}
.navbar-main ul li.other:after {
    border-color: #6badad transparent;
}
.navbar-main ul li.more:after {
    border-color: #55b7b6 transparent;
}
.navbar-main ul li:hover::after {
    bottom: 0px;
}
.navbar-main ul li.selected a {
    background-color: #f5f5f5;
}
.navbar-main ul li.selected:after {
    bottom: 0px;
}
.box-title {
    margin: 45px 0 30px 0;
}
.box-title h2 {
    display: inline-block;
    margin: 0;
}
.box-title h2 a {
    color: #0fa19f;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 40px;
}
.box-title a.seemore {
    float: right;
    line-height: 40px;
    border-radius: 3px;
    background-color: #53b7b6;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 25px;
    font-size: 16px;
}
.box-title a.seemore:hover {
    background-color: #fff;
    border: 2px solid #77b7b6;
    color: #0fa19f;
    font-weight: 600;
}
.box-title-child {
    margin-top: 30px;
}
.box-title-child ul {
    padding: 0;
}
.box-title-child ul li {
    display: inline;
    list-style: none;
}
.box-title-child ul li a, .box-title-child ul li .fake-a {
    font-size: 25px;
    font-weight: 300;
    color: #949494;
    text-transform: uppercase;
    margin-right: 20px;
}
.box-title-child ul li a:hover, .box-title-child ul li .fake-a:hover {
    color: #0fa19f;
}
.box-title-child ul li a.selected, .box-title-child ul li .fake-a.selected {
    color: #0fa19f;
    font-weight: 600;
}
.blog-post {
    padding: 0;
}
.blog-post .first-col {
    padding-left: 0;
}
.blog-post .last-col {
    padding-right: 0;
}
.blog-post .thumbnail {
    padding: 0;
    border: 0;
    box-shadow: none;
}
.blog-post .thumbnail .box-top {
    position: relative;
    overflow: hidden;
}
.blog-post .thumbnail .box-top img {
    border-radius: 6px;
    margin: 0;
    height: 220px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    background-size: cover !important;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
}
.blog-post .thumbnail .box-top:hover img {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.blog-post .thumbnail .box-top .word {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    top: 95px;
    left: 0;
    text-align: center;
}
.blog-post .thumbnail .box-top .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(83, 183, 182, 0.4);
    opacity: 0;
    text-align: center;
}
.blog-post .thumbnail .box-top .mask a {
    display: inline-block;
    margin-top: 80px;
    text-decoration: none;
    border-radius: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
}
.blog-post .thumbnail .box-top:hover .mask {
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
.blog-post .thumbnail .box-top:hover a {
    opacity: 1;
}
.blog-post .thumbnail .box-top .mini-post-list {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 0 10px 10px;
    color: #fff;
    font-size: 10px;
}
.blog-post .thumbnail .box-top .mini-post-list span {
    padding-left: 20px;
    margin-right: 18px;
}
.blog-post .thumbnail .box-top .mini-post-list .post-view {
    background: url(../img/post-view.png) no-repeat left center;
}
.blog-post .thumbnail .box-top .mini-post-list .post-favou {
    background: url(../img/post-favorite.png) no-repeat left center;
}
.blog-post .thumbnail .box-top .mini-post-list .post-com {
    background: url(../img/post-com.png) no-repeat left center;
}
.blog-post .thumbnail .caption {
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0px 0px 6px 6px;
    padding: 0;
}
.blog-post .thumbnail .caption .mini-date {
    border-bottom: 1px solid #53b7b6;
    height: 38px;
    position: relative;
}
.blog-post .thumbnail .caption .mini-date .date {
    padding: 10px;
    color: #0fa19f;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    top: 15px;
    right: 0;
    background-color: #fff;
}
.blog-post .thumbnail .caption .item-info {
    padding: 20px 15px;
}
.blog-post .thumbnail .caption .item-info h3 {
    margin-bottom: 15px;
    height: 60px;
    overflow: hidden;
    margin-top: 0;
    line-height: 10px;
}
.blog-post .thumbnail .caption .item-info h3 a {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.blog-post .thumbnail .caption .item-info h3 a:hover {
    text-decoration: underline;
}
.blog-post .thumbnail .caption .item-info .author a img {
    border-radius: 14.5px;
    background-color: #000;
    width: 25px;
    height: 25px;
    float: left;
    background-size: cover !important;
}
.blog-post .thumbnail .caption .item-info .author a h4 {
    color: #666;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 13px;
    font-weight: 300;
    max-height: 25px;
    overflow: hidden;
    padding-left: 10px;
}
.blog-post .thumbnail .caption .item-info .author a:hover {
    text-decoration: none;
}
.blog-post .thumbnail .caption .item-info .author a:hover h4 {
    color: #0fa19f;
}
.blog-post .thumbnail .caption .item-info .tags a {
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    font-weight: 100;
    padding: 1px 6px;
}
.blog-post .thumbnail .caption .item-info .tags a:hover {
    background: none;
    border: 1px solid #545454;
    color: #000;
    padding: 0 5px;
}
.blog-post .thumbnail .caption .item-info .tags .js {
    background-color: #c8bd72;
}
.blog-post .thumbnail .caption .item-info .tags .html {
    background-color: #f1662a;
}
.blog-post .thumbnail .caption .item-info .tags .css {
    background-color: #33a9dc;
}
.blog-post .thumbnail .caption .item-info .tags .ios {
    background-color: #b2b2b2;
}
.blog-post .thumbnail .caption .item-info .tags .android {
    background-color: #97c040;
}
.blog-post .thumbnail .caption .item-info .tags .php {
    background-color: #6b7eb9;
}
.blog-post .thumbnail .caption .item-info .tags .all {
    background-color: #bd1103;
}
.blog-post .thumbnail .caption .item-info .tags .en {
    background-color: #e77104;
}
.blog-post .thumbnail .caption .item-info .tags .objective-c {
    background-color: #767474;
}
.blog-post .thumbnail .caption .item-info .tags .vi {
    background-color: #019833;
}
.blog-post .thumbnail .caption .item-info .tags .python {
    background-color: #938a6d;
}
.blog-post .thumbnail .caption .item-info .tags .git {
    background-color: #c77c6f;
}
.blog-post .thumbnail .caption .item-info .tags .shell {
    background-color: #fbbb76;
}
.blog-post .thumbnail .caption .item-info .tags .cpp {
    background-color: #669ad3;
}
.blog-post .thumbnail .caption .item-info .tags .jquery {
    background-color: #5f9dd0;
}
.blog-post .thumbnail .caption .item-info .tags .github {
    background-color: #3f82c4;
}
.blog-post .thumbnail .caption .item-info .tags .c {
    background-color: #8d8f9b;
}
.blog-post .thumbnail .caption .item-info .tags .linux {
    background-color: #edc59b;
}
.blog-post .thumbnail .caption .item-info .tags .cs {
    background-color: #647398;
}
.blog-post .thumbnail .caption .item-info .tags .mac {
    background-color: #5a5a5a;
}
.blog-post .thumbnail .caption .item-info .tags .mysql {
    background-color: #37565e;
}
.blog-post .thumbnail .caption .item-info .tags .emac {
    background-color: #6562a5;
}
.blog-post .thumbnail .caption .item-info .tags .nodejs {
    background-color: #9bbe74;
}
.blog-post .thumbnail .caption .item-info .tags .ja {
    background-color: #d00000;
}
.blog-post .thumbnail .caption .item-info .tags .chrome {
    background-color: #3b985a;
}
.blog-post .thumbnail .caption .item-info .tags .pear {
    background-color: #868686;
}
.blog-post .thumbnail .caption .item-info .tags .regex {
    background-color: #7a4a90;
}
.blog-post .thumbnail .caption .item-info .tags .apache {
    background-color: #c24d74;
}
.blog-post .thumbnail .caption .item-info .tags .centos {
    background-color: #934a82;
}
.blog-post .thumbnail .caption .item-info .tags .csharp {
    background-color: #545353;
}
.blog-post .thumbnail .caption .item-info .tags .ssh {
    background-color: #9696f7;
}
.blog-post .thumbnail .caption .item-info .tags .nginx {
    background-color: #539070;
}
.blog-post .thumbnail .caption .item-info .tags .ubuntu {
    background-color: #da876a;
}
.blog-post .thumbnail .caption .item-info .tags .mongodb {
    background-color: #94795d;
}
.blog-post .thumbnail .caption .item-info .tags .swift {
    background-color: #e78874;
}
.blog-post .thumbnail .caption .item-info .tags .agile {
    background-color: #59a6a1;
}
.blog-post .thumbnail .caption .item-info .tags .scheme {
    background-color: #e1c00f;
}
.blog-post .thumbnail .caption .item-info .tags .heroku {
    background-color: #3f82c4;
}
.blog-post .thumbnail .caption .item-info .tags .win {
    background-color: #78c3df;
}
.blog-post .thumbnail .caption .item-info .tags .unity {
    background-color: #696868;
}
.blog-post .thumbnail .caption .item-info .tags .net {
    background-color: #486161;
}
.blog-post .thumbnail .caption .item-info .tags .sql {
    background-color: #e28e8b;
}
.blog-post .thumbnail .caption .item-info .tags .no-sql {
    background-color: #4c7791;
}
.blog-post .thumbnail .caption .item-info .tags .css3 {
    background-color: #33a9dc;
}
.blog-post .thumbnail .caption .item-info .tags .html5 {
    background-color: #e54d26;
}
.blog-post .thumbnail .caption .item-info .tags .other {
    background-color: #6badad;
}
.container .load-more {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.container .load-more a, .container .load-more .fake-a {
    display: inline-block;
    padding: 0 70px;
    background-color: #53b7b6;
    border-radius: 3px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.container .load-more a:hover, .container .load-more .fake-a:hover {
    background-color: #8b8b8b;
}
footer {
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #f5f5f5;
    padding: 20px 0 20px 0;
}
footer .container {
    height: 100%;
    padding-bottom: 0px;
}
footer .icon-social-list {
    float: left;
    display: inline-block;
    line-height: 44px;
}
footer .icon-social-list a img {
    width: 35px;
    height: 35px;
    background-position: center !important;
}
footer .icon-social-list a .icon-face {
    background: url(../img/icon-face-global.png);
}
footer .icon-social-list a .icon-twit {
    background: url(../img/icon-twiter-global.png);
}
footer .icon-social-list a .icon-g {
    background: url(../img/icon-g-global.png);
}
footer .icon-social-list a .icon-rss {
    background: url(../img/icon-rss-global.png);
}
footer .icon-social-list a .icon-github {
    background: url(../img/icon-github-global.png);
}
footer .icon-social-list a:hover .icon-face {
    background: url(../img/icon-face-global-hover.png) center !important;
}
footer .icon-social-list a:hover .icon-twit {
    background: url(../img/icon-twiter-global-hover.png) center !important;
}
footer .icon-social-list a:hover .icon-g {
    background: url(../img/icon-g-global-hover.png) center !important;
}
footer .icon-social-list a:hover .icon-rss {
    background: url(../img/icon-rss-global-hover.png) center !important;
}
footer .icon-social-list a:hover .icon-github {
    background: url(../img/icon-github-global-hover.png) center !important;
}
footer .footer-right {
    float: right;
}
footer .footer-right a.sign {
    font-size: 15px;
    color: #b9b9b9;
    margin-right: 20px;
}
footer .footer-right a.sign span {
    color: #53b7b6;
}
footer .footer-right img {
    width: 43px;
    height: 44px;
    background-position: center !important;
}
footer .footer-right .icon-top img {
    background: url(../../img/icon-top.png);
}
footer .footer-right a.icon-top:hover img {
    background: url(../../img/icon-top-hover.png) no-repeat center !important;
}
/**
 * Search autocomplete
 */.ui-widget-content {
       border-color: #868b87;
       -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #8f9bcf;
       box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #8f9bcf;
   }
.ui-widget-content .ui-state-focus {
    background: #6d84b4;
    border: none;
    font-weight: normal;
}
.ui-widget-content .ui-state-focus:first-child, .ui-widget-content .ui-state-focus::last-child {
    border-color: none;
    outline: none;
}
.ui-widget-content .ui-state-focus a, .ui-widget-content .ui-state-focus a:hover, .ui-widget-content .ui-state-focus a .text, .ui-widget-content .ui-state-focus a:hover .text {
    color: #fff;
    text-decoration: none;
    outline: none;
}
.ui-widget-content .ui-state-hover a, .ui-widget-content .ui-state-hover a:hover {
    color: #fff;
    text-decoration: none;
    outline: none;
}
.ui-menu-item {
    background: #f8f8f8;
}
.ui-menu-item li {
    line-height: 24px;
    margin-bottom: 10px;
}
.ui-menu-item li:last-child {
    margin-bottom: 0;
}
.ui-menu-item li {
    outline: none;
}
.ui-menu-item .text, .ui-menu-item .subtext, .ui-menu-item .category {
    display: block;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-menu-item .text {
    font-size: 16px;
}
.ui-menu-item a .text {
    font-weight: bold;
    color: #3b5998;
}
.ui-menu-item .category {
    font-size: 13px;
    margin-left: 0px;
}
.ui-menu-item .subtext {
    font-size: 10px;
}
.ui-menu-item.header {
    background-color: #f2f2f2;
    border-top: 1px solid #e9eaed;
    border-bottom: none;
    min-height: 10px;
    padding: 2px 15px 2px 6px;
}
.ui-menu-item.header a .text, .ui-menu-item.header.ui-state-focus > a .text {
    font-size: 13px;
    color: #404c51 !important;
}
.ui-menu-item.footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e9eaed;
    border-bottom: none;
    min-height: 10px;
    padding: 2px 15px 2px 6px;
}
.ui-menu-item.footer a .text {
    font-size: 14px;
    color: #6160a1 !important;
}
.ui-menu-item.footer:hover {
    background-color: #6463ad;
}
.ui-menu-item.ui-state-focus.footer {
    background-color: #6463ad;
}
.ui-menu-item.ui-state-focus.footer > a .text {
    color: #fff !important;
}
.ui-front {
    z-index: 999999;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin: 0px;
}
.pagination {
    float: right;
}
.pagination li span, .pagination li a {
    color: #53b7b6;
    border: 1px solid #53b7b6;
    margin-right: 3px;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 13px;
}
.pagination li span:hover, .pagination li a:hover {
    background-color: #53b7b6;
    color: #fff;
}
.pagination li.active span {
    border: 1px solid #53b7b6;
    background-color: #53b7b6;
    color: #fff;
}
.pagination li.disabled span {
    border: 1px solid #53b7b6;
}
.fake-link {
    cursor: pointer;
}
.fake-a {
    cursor: pointer;
}

.navbar-main ul .vn {
    border-bottom-color: #eea236;
}

.navbar-main ul li.vn:after {
    border-color: #eea236 transparent;
}