.jumbotron {
    height: 300px;
    margin-bottom: 0px;
    background-image: url(../../img/show_bg.png);
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    color: white;
    padding-top: 89px;
    padding-bottom: 79px;
}
.jumbotron h1 {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    line-height: 45px;
    margin-bottom: 15px;
}
.jumbotron p.pronunciation {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 20px;
}
.jumbotron p.meaning {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    font-style: italic;
}
.jumbotron p.btn-join {
    margin: 0;
    box-shadow: 0;
}
.jumbotron p.btn-join a {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 7px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    background: none;
}
.jumbotron p.btn-join a:hover {
    background-color: #5cbab9;
}
